TZ=UTC

# Media Storage Configuration
SAVE_MEDIA_LOCAL=true

SERVER_NAME=loko-backend
SERVER_PORT=1234
SECRET_KEY=your-secret-key-here

# PostgreSQL Database Configuration
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=macbookairm2
DB_PASS=
DB_NAME=loko_backend
DB_MIGRATION=true

# JWT Configuration
JWT_EXPIRED_DAY=7
STAY_ALIVE_MINUTE=30

RABBIT_URL=

# Services

AUTH_SERVICE=
CORE_SERVICE=
NOTIFICATION_SERVICE=
AI_SERVICE=
WEBSOCKET_SERVICE=
PAYMENT_GATEWAY_SERVICE=


GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

# Google OAuth2 Credentials
GOOGLE_OAUTH_REDIRECT_URL=