# Logs
logs
*.log

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
bun.lockb

# Build outputs
dist
dist-ssr
dev-dist
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment file
.env

# Compiled files
loko
loko.exe
loko.app
app
app.exe
app.app
loko-backend.pid
